.top-nav {
  background-color: #323b44;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.top-nav li:first-of-type a {
  padding-left: 0;
}

.top-nav-list {
  margin: 0;
  padding: 0;
}
