.top-nav-item {
  padding-top: 22px;
  padding-bottom: 20px;
  list-style: none;
  display: inline-block;
}

.top-nav-item a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 20px;
  font-weight: 700;
}

a.top-nav-item-active {
  color: #3bafda;
}

.top-nav-item-active a {
  color: #3bafda;
}
