.btn-default {
  color: #333;
  background-color: #dae6ec;
  border: 1px solid #dae6ec;
}

.btn-default:hover {
  background-color: #dae6ec;
  border: 1px solid #dae6ec;
}

.btn-selected {
  color: #ffffff;
  background-color: #4c5667;
  border: 1px solid #4c5667;
}

.btn-selected:active, .btn-selected:visited, .btn-selected:hover, .btn-selected:focus {
  color: #ffffff;
  background-color: #414a58;
  border: 1px solid #414a58;
}
